<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="myStyle.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <nav>
            <div id="nav-bar-set" class="topnav">
                <a class="paragraph-2" href="index.html">Home</a>
                <a class="active paragraph-2" href="about.html">About</a>
                <a class="paragraph-2" href="collection.html">Collection</a>
                <a class="paragraph-2" href="tour.html">Tour</a>
                <button type="submit"><a class="paragraph-1" href="submit.html">Submit</a></button>
            </div>
        </nav>
        <title>Piece of Mind</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div class="grid-container">
                <div class="grid-item-1">
                    <img src= https://picsum.photos/256/256>
                </div>
                <div class="grid-item-1">
                    <h1> ABOUT US</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item-1 center-item">
                    <h1> CONTACT US</h1>
                </div>
                <div class="grid-container">
                    <span><a href=https:www.facebook.com><b>Facebook</b></a></span>
                    <span"><a href=https:www.twitter.com><b>Twitter</b></a></span>
                    <span"><a href=https:www.instagram.com><b>Instagram</b></a></span>
                    <span><a href=https:www.tiktok.com><b>Tiktok</b></a></span>
                    <span><a href=https:www.gmail.com><b>Gmail</b></a></span>
                </div>
            </div>
        </main>
        <footer>
            <div>
                <p>Copyright 2021</p>
            </div>
        </footer>
    </body>
</html>