<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" width=device-width initial-scale=1.0>
        <nav>
            <div class="topnav">
                <a href="index.html">Home</a>
                <a class="active" href="about.html">About</a>
                <a href="collection.html">Collection</a>
                <a href="tour.html">Tour</a>
                <button type="submit"><a href="submit.html">Submit</a></button>
            </div>
        </nav>
        <title>Piece of Mind</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <span>
                    <img src= https://picsum.photos/256/256>
                </span>
                <span>
                    <h1> ABOUT US</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </span>
            </div>
            <div>
                <h1> CONTANT US</h1>
                <span><a href=https:www.facebook.com><b>Facebook</b></a></span>
                <span><a href=https:www.twitter.com><b>Twitter</b></a></span>
                <span><a href=https:www.instagram.com><b>Instagram</b></a></span>
                <span><a href=https:www.tiktok.com><b>Tiktok</b></a></span>
                <span><a href=https:www.gmail.com><b>Gmail</b></a></span>
            </div>
        </main>
        <footer>
            <div>
                <p>Copyright 2021</p>
            </div>
        </footer>
    </body>
</html>