#nav-bar-set {
    background-color: #494848;
    color: #C4C4C4;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
}

.heading-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 40px;
}
    
.heading-2 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.title-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1500;
    font-size: 30px;
}
    
.paragraph-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding-right: 40px;
    padding-left: 40px;
}

.paragraph-2 {
    color:#C4C4C4;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
    
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}
    
.grid-item-1 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item-2 {
    background-color: #7F7F7F;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.center-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
}

#button-1 {
  background-color: #C4C4C4;
  border: none;
  color: #131516;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 600;
}