nav {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    border: #494848;
    margin-right: 30px
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 3px 10px;
    font-size: 20px;
    font-weight: 600;
}

.topnav {
    background-color: #494848;
    width: 100%;
    padding: 10px;
    margin: -15px;
    text-align: right;
}

.heading-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 40px;
}

.heading-2 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding: 10px;
}

.title-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 1500;
    font-size: 30px;
}

.bold-title-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 2500;
    font-size: 64px;
}

.paragraph-1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

.paragraph-2 {
    color: #C4C4C4;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
}

.grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
}

.grid-item-1 {
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.grid-item-2 {
    background-color: #C4C4C4;
    border: 1px solid whitesmoke;
    margin: 100px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}

.center-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center !important;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
}

.top-left-item {
    position: absolute;
    top: 150px;
    left: 170px;
}

#button-light {
    background-color: #C4C4C4;
    border: none;
    color: #494848;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

#button-dark {
    background-color: #494848;
    border: none;
    color: #F0F0F0;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}