<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" width=device-width initial-scale=1.0>
        <nav>
            <div class="topnav">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a class="active" href="collection.html">Collection</a>
                <a href="tour.html">Tour</a>
                <button type="submit"><a href="submit.html">Submit</a></button>
            </div>
        </nav>
        <title>Piece of Mind</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <div>
                <img src= https://picsum.photos/900/400>
            </div>
            <div>
                <span><h2>Tour Title</h2></span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>